body{
    margin: 0 auto;
    background-color: #615E5E;
}

#container{
    width: 100%;
    margin: 0 auto;
    background-color: #DBD7C0;
}

/******* HEADER *******/

header{
    position: fixed;
    width: 100%;
    height:195px;
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header h1{
    text-align: left;
    color: white;
    text-shadow: 4px 4px #404040;
    font-size:3em; 
    padding:0;
    margin-top: 35px;
    margin-bottom:0px;
    margin-left: 20px;
    letter-spacing: 5px;

}

/****** NAVIGATION *****/

nav{
    width: 100%;
    height: 70px;
    background-color: transparent;
    margin-bottom:0;
    margin-top: 50px;
    background-image: url(../img/navigation.png);
    background-repeat: no-repeat;
    background-size: cover;
}

nav ul{
    text-align: right;
    padding: 5px;
    margin-top: 20px;

}

nav li{
    display: inline-block;
    font-size: 1.5em;
    margin: 18px auto;
    text-align: center;
  

}

ul a{
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 25px;
}

ul a:hover{
    background-color: white;
    color:black;
    border-radius: 0.1em;
}

/******** BANNER ********/

#banner{
    width: 100%;
    height: 800px;
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner h1{
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 4em;
    padding-top: 450px;
    text-shadow: 5px 5px black;
}

/******* HTML ELEMENTS********/

/* HTML CSS SECTION */
.htmlcss{
    float:left;
    width: 100%;
    margin-right: 10%;
    height: 400px;
    border-bottom: 1px solid black;
}

/*HTML IMAGE*/
#hcIcon{
    float:left;
    width: 20%;
    height: 250px;
    margin-right: 10px;
    margin-left: 50px;
    margin-top:30px;
    padding-right: 50px;
    background-image: url(../img/html.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: -5px 5px black;
    border: 1px solid black;
}
/* HTML TEXT */
.hcContent{
    border:1px solid red;
    margin-top: 30px;
    float:left;
    text-align: center;
    width: 60%;
    font-size: 1em;
    font-weight: normal;
    padding: 0;
    line-height: 1.3em;
    letter-spacing: 1px;
    color: #7C7C7C;
    border-left: 1px solid black;
    margin-bottom: 0;
    margin-left: 30px;

}



/********* FOOTER ************/

#footer{
    
}